html {
  font-family: sans-serif;
}

.party {
  display: flex;
  flex-wrap: wrap;
}

.party-member {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 2% 2.5%;
  margin: 0 0.5%;
  margin-bottom: 0.5%;
  min-width: 200px;
  min-height: 200px;
}

.party-member:hover {
  cursor: pointer; 
}

.weapon {
  border: 1px solid #ccc;
  border-radius: 10px;
  min-width: 23%;
  min-height: 200px;
  background-color: #fff;
}

.weapon-name {
  font-size: 2em;
  font-weight: bold;
  text-align: center;
}

.weapon-cost {
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
  color: goldenrod
}

.weapon:hover {
  cursor: pointer;
  transform: scale(1.05);
  transition: transform 0.5s;
  box-shadow: 8px 8px 5px #ccc;
}

.weapon-img {
  height: auto;
  width: 10%;
  display: block;
  margin: 0 auto;
}

.weapons-grid {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.unit-grid {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.unit-card {
  border: 1px solid #ccc;
  border-radius: 10px;
  min-width: 23%;
  min-height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #fff;
}

.unit-card:hover {
  transform: scale(1.08);
  transition: transform 0.5s;
  cursor: pointer;
  border: 1px solid #d33;
}

.unit-card img {
  display: block;
  margin: 0 auto;
}

.unit-card h2 {
  font-size: 1.5em;
  color: #d33;
  text-align: center;
}

.modal {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: tan;
}

.hidden {
  display: none;
}

.unit-portrait {
  position: absolute;
  right: 25%;
  top: 10%;
  height: auto;
  width: 25%; 
}

.unit-name {
  position: absolute;
  bottom: 0;
  font-size: 16em;
  font-weight: bold;
  left: 5%;
  text-transform: uppercase;
  font-style: italic;
  margin: 0;
  text-shadow: 10px 10px 3px #d33;
}

.unit-form {
  border: 1px solid brown;
  border-radius: 10px;
  padding: 2% 2.5%;
  position: absolute;
  top: 20%;
  left: 5%;
  min-width: 25%;
  background-color: #fff;
}

.unit-form input {
  font-size: 1.5em;
  border-radius: 5px;
  border: 1px solid black;
  display: block;
  width: 100%;
  padding: 2%;
  margin-bottom: 2%;
  text-transform: uppercase;
}

.hire-btn {
  background-color: mediumseagreen;
  border-radius: 5px;
  border: 1px solid mediumseagreen;
  padding: 2% 5%;
  font-size: 1.5em;
  color: #fff;
  display: block;
  width: 100%;
  margin-bottom: 1.2%;
}

.cancel-btn {
  font-size: 1.5em;
  background-color: #d33;
  border-radius: 5px;
  border: 1px solid #d33;
  padding: 2% 5%;
  color: #fff;
  display: block;
  width: 100%;
}

.modal-header {
  font-size: 4em;
  margin: 4% 0;
  text-align: center;
  text-transform: uppercase;
}
